{% extends 'base2.html' %}
<!-- django-crispy-forms적용 -->
{% load crispy_forms_tags %}
{% block title %}
<title>Edit Post - Diners</title>
{% endblock %}


{% block main_area %}

  
  <h1>Edit Post</h1>
  <hr/>
  <form method="post" enctype="multipart/form-data"> {% csrf_token %}
    <!-- <table>
      {{ form }}
      <tr>
        -- post_form.html과 마찬가지로 적용--
        <th><label for="id_tags_str">Tags:</label></th>
        <td><input type="text" name="tags_str" id="id_tags_str" value="{{ tags_str_default }}"></td>
      </tr>
    </table> -->

    <!-- form에 crispy-forms 적용(post_form에서 복붙해옴) -->
    {{ form | crispy }}
    <!-- 더이상 폼이 테이블 형태를 취하지 않기에 table를 지워줍니다. -->
    <!-- input태그의 class도 수정하여 crispy_forms의 형태를 취함 -->
    <div id="div_id_tags_str">
      <label for="id_tags_str">Tags:</label>
      <input type="text" name="tags_str" id="id_tags_str" class="textinput textInput form-control" value="{{ tags_str_default }}">
    </div>
    <br/>

    <button type="submit" class="btn btn-primary float-right">Submit</button>
  </form>
  <!-- 실시간으로 아래에 마크다운이 적용되어 렌더링된 모습이 나타남: -->
  {{ form.media }}

{% endblock %}