{% extends 'base.html' %}
{% block title %}
  <title>SearchFoodies Home</title>
{% endblock %}



{% block main_area%}




<h1>안녕하세요. 김경민입니다</h1>
<h2>이력</h2>
<h2>백엔드 개발자이자 데이터 엔지니어를 향해 도약하는 예비 개발자 꿈나무의 자기소개 페이지입니다.</h2>
<h3>아직 공사중입니다.</h3>

{% endblock %}


{% block footer %}
  <footer class="py-5 bg-dark fixed-bottom">
    <div class="container">
      <h4 class="text-white"> K's DiveLab</h4>

      <p class="m-0 text-white"> Address: 1318-3 Seocho-dong, Seocho-gu, Seoul  </p>
      <p class="m-0 text-white"> Cell-phone: 010-9039-2074</p>
      <p class="m-0 text-white"> E-mail: lifeandmyth@gmail.com</p>
      <p class="m-0 text-white">Github: <i class="bi bi-github"></i>&nbsp;https://github.com/lifeandmyth</p>
      <p class="m-0 text-white"> Copyright ⓒ DiveLab 2023. All rights reserved.  </p>
  </div>
  </footer>
{% endblock %}