<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> 김경민의 코딩연구소 </title>

  <link rel="stylesheet" href="{% static 'diners/bootstrap/bootstrap.min.css' %}" media="screen">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

  <link rel="stylesheet" href="{% static 'single_pages/css/landing.css' %}" media="screen">

  <style>
    footer {
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: rgba(255,255,255,0.20);
    }
    
      /* google font 호출 */
      @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&display=swap');
      body{
          font-family: 'Gothic A1', sans-serif;
      }
  
  </style>

</head>

<body>

  <!-- Navigation-->

  {% load socialaccount %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container">
      <a class="navbar-brand text-dark" href="/">K's DiveLAB</a>
      <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><div
          class="navbar-toggler-icon"></div></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <!-- <li class="nav-item active">
            <a class="nav-link text-secondary" href="/diners/">
              Diners
              <span class="sr-only">(current)</span>
            </a>
          </li> -->
          <li class="nav-item"><a class="nav-link text-secondary" href="/about_me/">About_me</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  text-secondary" data-toggle="dropdown" href="#" role="button"
            aria-expanded="false">
            Portfolio
            </a>
            <div class="nav-item dropdown-menu"><a class="nav-link text-dark dropdown-item" href="/portfolio/">&nbsp;포트폴리오</a>
            <a class="nav-link text-dark dropdown-item" href="/diners_home/">&nbsp;블로그 템플릿</a>
            <a class="nav-link text-dark dropdown-item" href="/foodies_list/">&nbsp;SearchFoodies</a>
            </div>
          </li>
          <!-- <li class="nav-item"><a class="nav-link text-dark" href="/toy_pjts/">Toy Projects</a></li> -->
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  text-secondary" data-toggle="dropdown" href="#" role="button"
              aria-expanded="false">
              <!-- (구글) 아바타 집어넣기 -->
              <!-- 사용자가 로그인했을 경우, 그 사용자의 구글 아바타 보여주기 -->
              {% if user.socialaccount_set.all.0.get_avatar_url %}
              <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="" class="rounded-circle" width="25px">
              <!-- 로그인 안했을 경우 API 생성 이미지 -->
              {% else %}
              <img src="https://doitdjango.com/avatar/id/1491/c4fc00950f0f17b8/svg/{{ user.email }}" alt=""
                class="rounded-circle" width="25px">

              {% endif %}
              &nbsp;
              {{ user.username }}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/accounts/logout/">로그아웃</a>

            </div>
          </li>
          <!-- bootstrap button에서 data-toggle과 data-target을 가져와 해당 a태그를 modal창 소환 버튼으로 만듦. -->
          <!-- modal 클릭 이벤트 요소 -->
          {% else %}
          <li>
            <a class="nav-link text-dark" href="#" data-toggle="modal" data-target="#exampleModal">
              <i class="bi bi-box-arrow-in-right"></i> 로그인
            </a>
          </li>
          {% endif %}
        </ul>
        <!-- Button trigger modal -->

      </div>
    </div>
  </nav>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body justify-content-center">
          <!-- mb-1로 아래 여백1, col-12로 버튼이 모달창 전부를 가로지름. -->
          <a href="{% provider_login_url 'google' %}" class="btn btn-outline-info btn-lg mb-1 col-12" role="button"
            aria-pressed="true"><i class="bi bi-google"></i>Login with Google</a><br>
          <!-- a 태그로 수정하고 href="/accounts/signup/"으로 회원가입 페이지 경로 추가 -->
          <a href="/accounts/signup/" class="btn btn-outline-info btn-lg mb-1 col-12" role="button"
            aria-pressed="true"><i class="bi bi-envelope-at"></i>SignUp with E-mail</a><br>
          <!-- login with e-mail > login with Username(email로 접속하는게 기본이므로) -->
          <!-- a 태그, href="/accounts/login/" 으로 수정 -->
          <a href="/accounts/login/" class="btn btn-outline-info btn-lg col-12" role="button" aria-pressed="true"><i
              class="bi bi-envelope-fill"></i>Login with Username </a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>


  <section>
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-6 text-light">
          <h1 class="mt-5">김경민의 코딩연구소</h1>
          &nbsp;
          <p>백엔드 개발자이자 데이터 엔지니어를 향해 도약하는 예비 개발자 꿈나무의 포트폴리오 사이트입니다. </p>
        </div>
        <!-- 각 카드의 크기를 col-lg-5로 지정하고 위마진을 mt-5 -->
        <div class="col-lg-5 mt-5">
          &nbsp;
          <h3>포트폴리오 - 최신 작품들</h3>
          &nbsp;
          <!-- for문으로 반복 걸고 diners앱에서 가져온 여러 post 출력 -->
          <!-- 카드 간 간격을 mt-1 -->
          <div class="card mt-1">
            <div class="card-body">
              <!-- 포스트의 제목을 클릭했을 때 그 포스트의 상세 페이지로 넘어가게 하기 -->
              <h6><a href="/diners/" class="text-decoration-none text-light"><i class="bi bi-journal-bookmark-fill"></i>&nbsp;블로그 템플릿 Diners</a></h6>
    
            </div>
            
          </div>
          <div class="card mt-1">
            <div class="card-body">
              <!-- 포스트의 제목을 클릭했을 때 그 포스트의 상세 페이지로 넘어가게 하기 -->
              <h6><a href="foodies_list" class="text-decoration-none text-light"><i class="bi bi-egg-fried"></i>&nbsp;식재료 분석 보고서 SearchFoodies</a></h6>
      
            </div>
    
          </div>
          &nbsp;
          &nbsp;
          <h3>토이 프로젝트 - 인기 순위</h3>
          &nbsp;
          <div class="card mt-1">
            <div>
              <div class="card-body">
                <!-- 포스트의 제목을 클릭했을 때 그 포스트의 상세 페이지로 넘어가게 하기 -->
                <h6><a href="https://github.com/lifeandmyth/frontend_lotto_pjt.git" class="text-decoration-none text-light"
                    target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i>&nbsp로또볼 시뮬레이션 Lotto_Balls</a>
                </h6>
    
              </div>
            </div>
          </div>
        </div>
        
      </div>

    </div>

  </section>


  <!-- 해당 footer를 브라우저 아랫부분에 붙어있도록 설정 -->
    <!-- Footer-->
    <footer class="py-5">
      <div class="container">
        <h4 class="text-white"> K's DiveLab</h4>
  
        <p class="m-0 text-white"> Address: 1318-3 Seocho-dong, Seocho-gu, Seoul  </p>
        <p class="m-0 text-white"> Cell-phone: 010-9039-2074</p>
        <p class="m-0 text-white">Github: <i class="bi bi-github"></i>&nbsp;https://github.com/lifeandmyth</p>
        <p class="m-0 text-white"> E-mail: lifeandmyth@gmail.com</p>
        <p class="m-0 text-white"> Copyright ⓒ DiveLab 2023. All rights reserved.  </p>
    </div>
    </footer>
  


  <!-- Bootstrap core JS-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>