{% extends 'base.html' %}{% block title %}
<title>식재료 데이터베이스</title>
{% endblock %}

{% block main_area %}

<!-- 드롭다운 목록 -->
  <form method="get" action="" class="form" style="margin-left: 7%; margin-top: 5%;">
    <select name="foodies" id="id_foodies">
      <option value="0" selected>식재료 선택</option>
      <option value="01">계란(/30개)</option>
      <option value="02">밀가루(/kg)</option>
      <option value="03">설탕(/kg)</option>
      <option value="04">고추(/0.6kg)</option>

      <option value="05">고등어(/1마리)</option>
      <option value="06">새우젓(/1kg)</option>
      <option value="07">건멸치(/0.1kg)</option>
      <option value="08">물오징어(1마리)</option>

      <option value="09">쌀(/20kg)</option>
      <option value="10">찹쌀(/kg)</option>
      <option value="11">흰콩(/0.5kg)</option>
      <option value="12">팥(/0.5kg)</option>



      
      
    </select>
  </form>

  <div>
    <canvas id="myChart"></canvas>
    {{data}}     
       
  </div>
{% endblock %}



{% block script_area %}


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Chart.js를 csv 파일과 연결시키기 -->


<script>
  const ctx = document.getElementById('myChart');

  // setup
  const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{% for data in dataset %}'{{ data.date | date:"Y m"}}', {% endfor %}],
      datasets: [{
        label: '{{name}} 가격 정보',
        data: [{% for data in dataset %}'{{ data.unit_price }}', {% endfor %}],
        backgroundColor: [
        'rgba(246, 231, 233, 0.3)',
        'rgba(255, 217, 61, 0.3)',
        'rgba(255, 132, 0, 0.3)',
        'rgba(79, 32, 13, 0.3)',
        ],
        borderWidth: 1
      }
      
    ]
    },
    options: {
      scales: {
        y: {
          beginAtZero: false
        }
      }
    }
  });
</script>

<script>
  $(document).ready(function() {
      $('select[name=foodies]').change(function () {
      console.log($('select[name=foodies]').val());
      $('.form').submit();
  });
});
</script>

{% endblock %}