<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
      <h4 class="text-white"> K's DiveLab</h4>

      <p class="m-0 text-white"> Address: 1318-3 Seocho-dong, Seocho-gu, Seoul  </p>
      <p class="m-0 text-white"> Cell-phone: 010-9039-2074</p>
      <p class="m-0 text-white">Github: <i class="bi bi-github"></i>&nbsp;https://github.com/lifeandmyth</p>
      <p class="m-0 text-white"> E-mail: lifeandmyth@gmail.com</p>
      <p class="m-0 text-white"> Copyright ⓒ DiveLab 2023. All rights reserved.  </p>
  </div>
</footer>