
select {
  margin-bottom: 10px;
  outline: 0;
  background: #F6F1E9;
  color: #4F200D;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 9px;
}


#leftbox {
  display: block;
  position: relative;
  float:left;
  height: 50vh;

}

#dropdown {
  display: block;
  height: 100px;
  width: 180px;
  float:left;
}
#img {
  display: block;
  float: left;
  margin-left: 10px;
}

#textbox {
  display: block;
  position: relative;
  float:right;
  width: 220px;
  margin-left: 10px;
  
}
#text {
  display: block;
  position: relative;
  float: right;
  height: 100px;
} 

#chart {
  display: block;
  position: relative;
  float: right;
}
#chart1 {
  display: block;
  position: relative;
  height: 300px;
  width:36vw;
}
#chart2 {
  display: block;
  position: relative;
  height: 300px;
  width:36vw;

}

@media ( max-width : 991px ) {
  #leftbox {
    width: 100%;
  }

  #chart {
    float: none;
    display : inline-block;
    text-align : center;
  }
  #chart1 {
    display: block;
    position: relative;
    height: 300px;
    width:100vw;
  }
  #chart2 { 
    width:100vw;
  }

  
  #textbox {
    display: block;
    position: relative;
    float:right;
    width: 40vw;
  }
}


@media ( max-width : 576px ) {
  #text span {
    display: -webkit-inline-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}